/* utilities */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: #1F2033 !important;
}
.grayGradient {
    width: 300px;
    background: rgb(43,51,56);
    background: -moz-linear-gradient(48deg, rgba(43,51,56,1) 0%, rgba(25,29,32,1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(43,51,56,1) 0%, rgba(25,29,32,1) 100%);
    background: linear-gradient(48deg, rgba(43,51,56,1) 0%, rgba(25,29,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b3338",endColorstr="#191d20",GradientType=1);
    border-radius: 30px;
    box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
    -webkit-box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
    -moz-box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
}
.bgGradient {
    opacity: 0.8;
    background: rgb(208,137,240);
    background: -moz-linear-gradient(48deg, rgba(208,137,240,1) 0%, rgba(76,16,247,1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(208,137,240,1) 0%, rgba(76,16,247,1) 100%);
    background: linear-gradient(48deg, rgba(208,137,240,1) 0%, rgba(76,16,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d089f0",endColorstr="#4c10f7",GradientType=1);
    transition: opacity 0.3s ease-in-out;
}
/* input section */
label, .description {
    position: relative;
    font-weight: bold;
}
.tooltiptext {
    visibility: hidden;
    width: 234px;
    /* min-height: 38px; */
    border-radius: 4px;
    padding: 12px 5px;
    background: rgb(151,97,185);
    background: -moz-linear-gradient(48deg, rgba(151,97,185,1) 0%, rgba(89,34,218,1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(151,97,185,1) 0%, rgba(89,34,218,1) 100%);
    background: linear-gradient(48deg, rgba(151,97,185,1) 0%, rgba(89,34,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9761b9",endColorstr="#5922da",GradientType=1);
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    margin-top: 8px;
}
i {
    cursor: pointer;
}
i:hover .tooltiptext, i:hover .tooltiptextLast {
    visibility: visible;
}
.input-group-text {
    color: lightgray !important;
}
.text-gradient {
    color: rgb(151,97,185);
    color: -moz-linear-gradient(48deg, rgba(151,97,185,1) 0%, rgba(89,34,218,1) 100%);
    color: -webkit-linear-gradient(48deg, rgba(151,97,185,1) 0%, rgba(89,34,218,1) 100%);
    color: linear-gradient(48deg, rgba(151,97,185,1) 0%, rgba(89,34,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9761b9",endColorstr="#5922da",GradientType=1);
}
.cardText, .description, .chevron, h5 {
    color: rgb(238, 238, 238);
}
.myButton {
    border: none;
    border-radius: 6px;
    padding: 0 10px;
    height: 35px;
}
.myButton:hover, .left:hover, .right:hover {
    opacity: 1;
}

/* output section */
section {
    min-height: calc(100vh - 525px);
}
.overflowHide {
    overflow: hidden;
}
.results {
    /* display: none; */
    position: relative;
    top: 1000px;
    margin-top: 25px;
}
.displayResults {
    transition: all 1s ease-in-out;
    display: inline-block;
    top: 0px;
}
.result {
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    
}
.description {
    display: inline-block;
    flex-grow: 1;
    border-radius: 25px 0 0 25px;
    box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
    -webkit-box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
    -moz-box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
}
.answer {
    display: inline-block;
    min-width: 25%;
    padding: 0 8px;
    border-radius: 0 25px 25px 0;
    box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
    -webkit-box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
    -moz-box-shadow: 20px 19px 24px 8px rgba(0,0,0,0.22);
}
@media (max-width: 767.98px) {
    .answer {
        min-width: 35%;
    }
}
.chevron {
    color: rgb(139, 80, 175);
}
.bigger {
    padding: 0 5px;
    font-size: 1.6rem;
    color: rgb(139, 80, 175);
    transition: display 5s ease-in-out;
}
.round {
    width: 46px;
    border: none;
    background: transparent;
    touch-action: none;
}
.left {
    border-radius: 25px 0 0 25px;
}
.right {
    border-radius: 0 25px 25px 0;
}
p {
    margin-bottom: 8px !important;
}
